*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  background-color: #daebe8;
  color: #2f2d2b;
}

section {
  width: 25rem;
  height: 40rem;
  background-color: #fbfbfb;
  box-shadow: 0px 5px 15px 3px rgba(54, 111, 144, 0.1);
  border-radius: 0.5rem;
  padding: 2.25rem 1.75rem;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

h1 {
  color: rgb(54, 111, 144);
  font-size: 2rem;
}

button {
  opacity: 1;
  margin: 1.25rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #92a5e6;
  box-shadow: 0px 5px 15px 3px rgba(146, 165, 230, 0.3);
  padding: 1.25rem;
  cursor: pointer;
  font-weight: 800;
  color: white;
  font-size: 1rem;
  outline: 0;
}

button:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

canvas[height="200"] {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px 3px rgba(54, 111, 144, 0.2);
  margin-bottom: 1.25rem;
  margin-top: 2.25rem;
}

#status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 auto;
}

#status.bad {
  background-color: rgb(228, 70, 93);
}

#status.good {
  background-color: rgb(81, 195, 104);
}

ul {
  margin-top: 1.25rem;
}

li {
  list-style-type: none;
  color: #366f90;
  font-size: 1.15rem;
}

li::first-letter {
  text-transform: capitalize;
}
